@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.todos {
    width:50%;
    margin: auto;
    padding: 70px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 50px -12px rgba(0,0,0,0.4);
    -webkit-box-shadow: 2px 2px 50px -12px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 2px 50px -12px rgba(0,0,0,0.4);
}

.todo {
    width: 80%;
    height: 105px;
    margin: auto auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 19px;
    font-weight: 400;
    background-color: #EEEEEE;
}

.todo.done {
    opacity: .3;
}

.id {
    margin-left: 57px;
}

.content {
    margin-left: 5px;
}

.delete {
    height: 35px;
    width: 35px;
    margin: 0px 57px 0px auto;
    justify-self: end;
    align-self: center;
    cursor: pointer;
}

.delete img {
    width: inherit;
    height: inherit;
    align-self: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}


form {
    width: 100%;
    margin: 30px auto 0px auto;
}

.todo-input {
    width: 50%;
    height: 36px;
    margin-right: 20px;
    padding: 5px 10px;
    font-size: 18px;
    outline: none;
    border-bottom: 1px solid rgb(172, 172, 172);
}

.todo-submit {
    height: 0px;
    width: 0px;
    margin-bottom: 20px;
    background-color: white; 
}

.todo-submit img {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.todo:hover {
    cursor: pointer;
    outline: solid 1px rgb(182, 182, 182);
}